<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >




<suite name="TestAll"  parallel="classes" thread-count="2">

    <test name="LoginTest">
        <classes>
            <class name= "org.mytests.LoginTest" />
            <class name= "org.mytests.MetalAndColorsTest" />
            <class name= "org.mytests.MetalAndColorsPaginationTests" />
            <class name= "org.mytests.DifferentElementsTests" />
            <class name="org.mytests.DifferentElementsJSDropDownTest"/>
        </classes>
    </test>


</suite>

